* {
  box-sizing: border-box;
}
:root {
  --bodycolor: rgb(0, 101, 126);
  --bgcolor: white;
  --followColor: rgb(4, 148, 214);
  --brColor: rgb(230, 230, 230);
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(0, 101, 126);
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}
.app {
  width: 50%;
  background-color: var(--bgcolor);
  padding: 0.5rem 2rem;
}
/*
header
*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header > li > h2 {
  font-size: 3rem;
}
.verifyTick {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  top: 0.8rem;
}

.leftSideLogo {
  padding: 0 0.8rem 1rem 0.5rem;
  font-size: 5rem;
  cursor: pointer;
}
.rightSideLogo {
  padding: 1rem 0.8rem 0 2rem;
  cursor: pointer;
}

/*
main
*/

.instaLogo {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1.5rem;
}
.mainInfoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.mainInfoItem > li > h1 {
  margin-bottom: 0;
  font-size: 3.5rem;
}
.mainInfoItem > li > span {
  padding-top: 0.2rem;
  font-size: 2rem;
}
/*
bio
*/
.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio > p,
.bio > h1,
.bio > a {
  font-size: 2.7rem;
  margin: 0.1rem 0;
}
.bio > a {
  text-decoration: none;
  color: rgb(4, 86, 163);
}
/*
buttons
*/
.buttons {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  list-style: none;
}
.btnFollow,
.btnMessage {
  flex-grow: 8;
}
.btnMessage {
  margin: 0 1rem;
}
.btnDownArrow {
  flex-grow: 2;
}
.buttons > li > button {
  padding: 1rem;
  border-radius: 0.8rem;
}
.bigButton {
  width: 100%;
}
.smallButton {
  width: 100%;
  background-color: var(--bgcolor);
  border: 0.2rem solid var(--brColor);
  cursor: pointer;
  font-size: 2.5rem;
}
.Message {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: var(--bgcolor);
  border: 0.2rem solid var(--brColor);
  cursor: pointer;
}

.Follow {
  color: white;
  background-color: var(--followColor);
  font-size: 2.5rem;
  cursor: pointer;
  border: 0.2rem solid var(--followColor);
}
