* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(5, 70, 90);
  display: flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}
.app {
  width: 50%;
  background-color: white;
  padding: 0.5rem 2rem;
}
/*
header
*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header > h2 {
  font-size: 3rem;
}
.verifyTick {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  top: 0.8rem;
}

.leftSideLogo,
.rightSideLogo {
  align-self: center;
}
.leftSideLogo {
  padding: 0 0.8rem 1rem 0.5rem;
  font-size: 50px;
  cursor: pointer;
}
.rightSideLogo {
  padding: 1rem 0.8rem 0 2rem;
  cursor: pointer;
}

/*
main
*/

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.instaLogo {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1.5rem;
}
.mainInfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.mainInfoItem > h1 {
  margin-bottom: 0;
  font-size: 3.5rem;
}
.mainInfoItem > span {
  padding-top: 0.2rem;
  font-size: 2rem;
}
/*
bio
*/
.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio > p,
.bio > h1,
.bio > a {
  font-size: 2.7rem;
  margin: 0.1rem 0;
}
.bio > a {
  text-decoration: none;
  color: rgb(4, 86, 163);
}
/*
buttons
*/
.buttons {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.buttons > button {
  padding: 1rem;
  border-radius: 0.8rem;
}
.bigButton {
  flex-grow: 8;
}
.smallButton {
  flex-grow: 2;
}
#message {
  margin: 0 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  background-color: white;
  border: 0.2rem solid rgb(230, 230, 230);
  cursor: pointer;
}

#follow {
  color: white;
  background-color: rgb(4, 148, 214);
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}
#suggestion {
  background-color: white;
  border: 0.2rem solid rgb(230, 230, 230);
  cursor: pointer;
}
